body{
    font-family: Arial;
    background:#F7F9FA;
    display:flex;
    justify-content:center;
    padding-top:60px;
}
.card{
    background:#FFFFF;
    border: 1px solid #E3EBEF;
    border-radius:12px;
    padding: 32px;
    width:360px

}